// $main_color: #0b60a9;
$main_bgClr: #000;
$main_color: #a28065;
$second_color: #b19176;

$whiteColor: #fff;
$links_color: #777;
$cardBgColor: #fff;
$mainHover: #0b60a9;
$mainHover1: #0842741a;
$dark: #313131;
$darkHover: #686d7a;
$textColor: #444;
$textColor1: #333;
$regular_font: "Cairo";
$borderClr: #222222;
